/* styles/skills.module.css */



/* Scrolling animation for the header icons */
@keyframes scrollIcons {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-90%);
  }
}

.scroll-container {
  display: flex;
  white-space: nowrap; /* Prevents line breaks */
  overflow: hidden; /* Ensures icons don't overflow */
  position: relative;
  width: 100%;
}

.scroll-content {
  display: flex;
  gap: 5%; /* Adjust space between icons */
  animation: scrollIcons 40s linear infinite; /* Adjust speed */
}

/* Fade in and slide up animation for experience items */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animateFadeInUp {
  animation: fadeInUp 0.5s ease-out forwards;
}

.header {
  background-color: #f0f0f0; /* Light gray background */
  padding: 10px; /* Add some padding */
  /* Other header styles as needed */
}

.main {
  background-color: #f0f0f0; /* Light gray background */
  padding: 10px; /* Add some padding */
  /* Other header styles as needed */
}


/* Optional: Style the skill icons themselves */
.skill-icon {
  font-size: 40px; /* Adjust icon size */
  color: #333; /* Dark gray color */
  /* Other icon styles as needed */
}